/*Estilo general del cuerpo de la página*/
body{
    font-family: sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

/*Estilo de la barra header*/
header{
    display: flex;
    min-height: 70px;
    background-color: rgb(230, 245, 19);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/*Estilo del logo de la barra header*/
.logo{
    display: flex;
}

.logo img{
    height: 50px;
}

nav{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: white;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

.gtno{
    margin: 0 auto;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding-right: 110px;
}

.flex{
    display: flex;
}

h1 {
    text-align: center;
  }

h2 {
    text-align: center;
  }

/*Estilo de los botones*/
button{
    border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 40px;
    background: rgb(57,162,219);
    border: none;
    color: white;
    transition: .35s box-shadow;
}

button:hover{
    box-shadow: 10px;
    cursor: pointer;
    transition-delay: 2seg;
}

.btn{
    margin-left: 15px;
    padding-left: 100px;
    padding-top: 150px;
    width: 50%;
}

.icon{
    font-size: 50px;
    padding-top: 10px;
}
